input, textarea, select {
  height: 38px;
  padding: 6px 10px;
  background-color: #fff;
  border-radius: 1px;
  box-shadow: none;
  box-sizing: border-box;
}

input, textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

textarea {
  min-height: 65px;
  padding-top: 6px;
  padding-bottom: 6px;
}

input:focus, textarea:focus, select:focus {
  border: 1px solid #33C3F0;
  outline: 0;
}

fieldset {
  padding: 0;
  border-width: 0;
}

.label {
  display: block;
  font-weight: 600;
}
