// -- Fonts
@import url('https://fonts.googleapis.com/css?family=Crimson+Text&display=swap');

@font-face {
  font-family: 'Avenir Next';
  src: url(font/AvenirNextLTPro-Regular.otf) format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Avenir Next';
  src: url(font/AvenirNextLTPro-Bold.otf) format('opentype');
  font-weight: bold;
  font-style: normal;
}

// --- Color Themes
// region === Dark Theme
$dark-1:  #464B52;
$dark-2:  #5E646E;
$dark-3:  #BBC0C7;
$dark-4:  #535861;
$dark-5:  #494A4D;
$dark-6:  #5192ED;
$dark-7:  #BBC0C7;
$dark-8:  #5E646E;
$dark-9:  #BBC0C7;
$dark-10: #535861;
$dark-11: #464B52;
$dark-12: #BBC0C7;
// endregion

// region === Light
$light-1:  #D0D5DB;
$light-2:  #464B52;
$light-3:  #D0D5DB;
$light-4:  #FFFFFF;
$light-5:  #D0D5DB;
$light-6:  #09469C;
$light-7:  #464B52;
$light-8:  #EDF2F7;
$light-9:  #464B52;
$light-10: #DFE3E8;
$light-11: #464B52;
$light-12: #FFFFFF;
// endregion

// Imports
@import "forms";
@import "buttons";
@import "tool-tips";

body {
  margin: 0;
  overflow: hidden;
}

html, body, #app {
}

@mixin theme($name, $color1, $color2, $color3, $color4, $color5, $color6, $color7, $color8, $color9, $color10, $color11, $color12) {
  .#{$name} {

    body, #app {
      background-color: $color1;
      font-family: "Avenir Next", sans-serif;
    }

    h4 {
      font-size: 16px;
    }

    .button {
      @include btn($color8, $color7)
    }

    nav {
      align-items: center;
      display: flex;
      justify-content: space-between;
      background-color: $color2;
      height: 60px;
      padding-left: 32px;
      letter-spacing: 0.02em;
      padding-right: 32px;
      font-family: "Crimson Text", serif;
      .logo {
        display: inline-block;
        margin-top: 4px;
      }
      .nav-links {
        list-style: none;
        display: flex;
        .nav-link {
          a {
            display: inline-block;
            padding: 8px 25px;
            text-decoration: none;
            color: $color3;
            font-size: 18px;
            &:hover {
              color: lighten($color3, 30%);
              text-decoration: underline;
              cursor: pointer;
            }
          }
        }
      }
    }

    .secondary-nav {
      display: flex;
      justify-content: space-between;
      align-items: center;
      color: $color7;
      margin-left: 32px;
      margin-right: 32px;
      height: 50px;
      img {
        margin-left: 15px;
      }
      #by-way-of-breadcrumbs {
        ul {
          padding: 0;
          align-items: flex-start;
          display: flex;
          flex-wrap: wrap;
          justify-content: flex-start;
          list-style: none;
          li {
            &:hover {
              cursor: pointer;
              text-decoration: underline;
            }
            &::after {
              content: "\0227B";
              display: inline-block;
              margin: 0 .6em;
            }
            &:last-of-type {
              font-weight: bold;
            }
            &:last-of-type::after {
              display: none;
            }
          }
        }
      }
      #graph-actions {
        img {
          cursor: pointer;
          height: 20px;
          width: 20px;
        }
      }
    }

    .content-grid {
      height: calc(100vh - 130px); // This is less the height of the other elements (nav & secondary nav)
      margin-left: 32px;
      margin-right: 32px;
      display: grid;
      grid-column-gap: 20px;
      grid-auto-columns: 1fr;
      grid-template-columns: 1fr 3fr;
      .left-panel {
        background: $color8;
        letter-spacing: 0.02em;
        color: $color9;
        display: flex;
        flex-direction: column;
        overflow: hidden;
        box-shadow: 1px 1px 0 0 rgba(0,0,0,0.50);
        .tabs {
          display: flex;
          align-items: center;
          flex-direction: row;
          .tab {
            flex-grow: 1;
            font-size: 17px;
            height: 50px;
            background: $color10;
            border-bottom: 1px solid $color5;
            border-left: 1px solid $color5;
            border-right: 1px solid $color5;
            border-top: 2px solid $color10;
            display: flex;
            align-items: center;
            span {
              left: 15px;
              position: relative;
            }
            &.active {
              background: $color8;
              font-weight: bold;
              border: none;
              border-top: 3px solid $color9;
            }
          }
        }
        .panel-contents {
          padding-left: 15px;
          padding-right: 15px;
          display: flex;
          flex-direction: column;
          overflow: hidden;
          #namespace-tab {
            display: flex;
            flex-direction: column;
            overflow: hidden;
            #ns-filter-input {
              .icon {
                position: absolute;
                padding: 40px;
                padding-bottom: 0;
                margin-top: -1px;
                left: 15px;
                width: 22px;
                height: 22px;
              }
              .filter-input {
                background: $color4;
                border: 1px solid rgba(62,62,62,0.30);
                box-shadow: inset 0 1px 3px 0 rgba(0,0,0,0.50);
                color: $color7;
                font-size: 14px;
                width: 100%;
                margin-top: 30px;
                margin-bottom: 10px;
                padding-left: 35px;
              }
            }
            .namespaces {
              overflow-y: auto;
              .menu-label {
                font-size: 16px;
                font-weight: bold;
                letter-spacing: 0.075em;
              }
              ul {
                list-style: none;
                margin-left: -40px;
                li {
                  // margin-bottom: 18px;
                  height: 34px;
                  font-size: 16px;
                  padding-left: 10px;
                  display: flex;
                  align-items: center;
                  &.is-active {
                    background: $color11;
                    font-weight: bold;
                    color: $color12;
                  }
                  .label {
                    &:hover {
                      cursor: pointer;
                    }
                  }
                }
                .shrink-grow-enter {
                  opacity: 0.01;
                  height: 0;
                }
                .shrink-grow-enter.shrink-grow-enter-active {
                  opacity: 1;
                  height: 44px;
                  transition: all 400ms ease-in;
                }
                .shrink-grow-exit {
                  opacity: 1;
                  height: 44px;
                }
                .shrink-grow-exit.shrink-grow-exit-active {
                  opacity: 0.01;
                  height: 0;
                  transition: all 400ms ease-out;
                }
              }
            }
          }
          #namespace-details-tab {
            .inset {
              padding-left: 7px;
            }
            #namespace-summary {
              font-size: 16px;
              margin-top: 25px;
              h4 {
                margin-bottom: 5px;
              }
              p {
                margin-top: 5px;
              }
              ul {
                list-style: none;
                margin-left: -30px;
                margin-top: 5px;
              }
              li {
                margin-bottom: 5px;
              }
              li::before {
                content: "•";
                color: $color3;
                display: inline-block;
                width: 15px;
              }
              .link {
                color: $color6;
                text-decoration: underline;
                &:hover {
                  cursor: pointer;
                }
              }
              #namespace-label {
                font-weight: bold;
                font-size: 17px;
              }
            }

          }
          #idents-tab {
            overflow-y: auto;
            margin-bottom: 40px; // Keep cards from falling off the bottom
            font-size: 16px;
            .ident-card {
              min-height: 30px;
              background: $color3;
              color: $color1;
              box-shadow: 1px 1px 0 0 rgba(0,0,0,0.50);
              padding-left: 8px;
              div {
                margin: 10px;
              }
              .ident-heading {
                min-height: 20px;
                top: 8px;
                position: relative;
                .ident-name {
                  position: relative;
                  font-weight: bold;
                  font-size: 16px;
                }
                .attr-icon {
                  float: right;
                  position: relative;
                  margin-left: 10px;
                  top: -4px;
                  img {
                    width: 16px;
                    height: 19px;
                  }
                }
              }
            }
            .entity-card {
              background: $color12;
              color: $color11;
              box-shadow: 1px 1px 0 0 rgba(0,0,0,0.50);
              padding-left: 8px;
              .inset {
                padding-left: 12px;
              }
              .entity-heading {
                height: 20px;
                top: 8px;
                position: relative;
                .icon-div {
                  width: 16px;
                  height: 16px;
                  text-align: center;
                  margin-right: 8px;
                  position: relative;
                  top: -2px;
                  .chevron {
                    transition: transform 250ms ease-in;
                  }
                  .chevron-open {
                    transform: rotate(90deg);
                  }
                }
                .ns-name {
                  top: -6px;
                  left: -5px;
                  position: relative;
                  font-weight: bold;
                  font-size: 16px;
                }
                .ident-name {
                  left: -5px;
                  position: relative;
                  font-weight: bold;
                  font-size: 16px;
                }
                .attr-icon {
                  float: right;
                  position: relative;
                  margin-left: 10px;
                  top: -4px;
                  img {
                    width: 16px;
                    height: 19px;
                  }
                }
              }
              .heading {
                font-weight: bold;
                margin-right: 3px;
              }
              div {
                margin: 10px;
              }
              ul {
                margin: 5px;
                padding-left: 5px;
                list-style: none;
                li::before {
                  content: "•";
                  color: $color1;
                  display: inline-block;
                  position: relative;
                  top: 2px;
                  padding-right: 5px;
                }
                .link {
                  color: $color6;
                  text-decoration: underline;
                  &:hover {
                    cursor: pointer;
                  }
                }
              }
              .collapsible {
                overflow: hidden;
                transition: 250ms ease-out;
                &.collapsed {
                  max-height: 0 !important;
                  transition: 250ms ease-in;
                }
              }
            }

          }
        }
      }
      .right-panel {
        background: $color8;
        box-shadow: 1px 1px 0 0 rgba(0, 0, 0, 0.5);

        .panel-body {
          height: 100%;
          padding: 0;
          #go-diagram {
            width: inherit;
            height: inherit;
          }
          canvas {
            outline: none;
          }
        }
      }
    }

    .modal-overlay {
      background: $color1;
      bottom: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      left: 0;
      position: fixed;
      right: 0;
      text-align: center;
      top: 0;
      opacity: 0;
      transform: scale(0.5);
      transition: all 0.75s cubic-bezier(0.68, -0.55, 0.265, 1.55);
      z-index: -100;
      .modal {
        color: $color7;
        background-color: $color8;
        box-shadow: 1px 1px 0 0 rgba(0,0,0,0.50);
        max-width: 500px;
        width: 90%;
        .modal-header {
          border-bottom: 1px solid $color3;
          align-items: center;
          display: flex;
          justify-content: space-between;
          h4 {
            padding-left: 20px;
            font-size: 18px;
          }
          img {
            padding-right: 20px;
          }

        }
        .modal-body {
          padding-bottom: 20px;
          .setting {
            .title {
              font-size: 19px;
              font-weight: bold;
              letter-spacing: 0.02em;
              margin-bottom: 15px;
              margin-top: 25px;
            }
            .split-select {
              font-size: 17px;
              align-items: center;
              display: flex;
              justify-content: space-around;
              border: 1px solid $color7;
              border-radius: 2px;
              height: 36px;
              margin: auto;
              width: 193px;
              div {
                padding: 9px 5px 9px 5px;
                flex-grow: 1;
                cursor: pointer;
              }
              .left {
                border-right: 1px solid $color7;
              }
              .selected-option {
                color: $color1;
                background-color: $color7;
                text-decoration: underline;
                font-style: italic;
              }
            }
            #unload-btn {
              font-size: 17px;
              width: 196px;
              height: 40px;
            }
          }
        }
      }
      &.is-visible {
        opacity: 0.97;
        transform: scale(1);
        z-index: 800;
      }
    }

    #load-schema {
      height: calc(100vh - 60px); // This is less the height of the other elements (nav & secondary nav)
      display: flex;
      align-items: center;
      justify-content: center;
      #load-schema-btn {
        width: 250px;
        height: 40px;
        font-size: 22px;
        text-align: center;
        span {
          position: relative;
          top: 7px;
        }
      }
    }
  }
}

@include theme(dark, $dark-1, $dark-2, $dark-3, $dark-4, $dark-5, $dark-6, $dark-7, $dark-8, $dark-9, $dark-10, $dark-11, $dark-12);
@include theme(light, $light-1, $light-2, $light-3, $light-4, $light-5, $light-6, $light-7, $light-8, $light-9, $light-10, $light-11, $light-12);

.panel-fade-enter {
  opacity: 0.01;
}

.panel-fade-enter.panel-fade-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.panel-fade-exit {
  display: none;
}

.panel-fade-exit.panel-fade-exit-active {
  display: none;
}
