client/dist/*
client/resources/public/js/compiled/*
client/resources/public/js/test/*
**/.cpcache/*
**/node_modules/*
**/yarn.lock
**/cljs-out
*.DS_Store
*.css
pom.xml
figwheel_server.log
*-lock.json
**/.shadow-cljs/*
*.lock
package-lock.json
*.iml
