{:paths ["src" "resources"]

 :deps {org.clojure/clojure      {:mvn/version "1.10.1"}
        org.clojure/test.check   {:mvn/version "0.10.0-alpha3"}
        org.clojure/tools.cli    {:mvn/version "0.4.2"}
        com.datomic/client-cloud {:mvn/version "0.8.78"}}

 :aliases {;; clojure -Alocal-server
           ; -------------------------------------------------------------------
           ; :local-server {:extra-paths ["dev" "test"]
           ;                :extra-deps  {http-kit {:mvn/version "2.2.0"}}
           ;                :main-opts   ["-m" "local-server"]}
           ;; bin/kaocha clj-unit
           ; -------------------------------------------------------------------
           :clj-test {:extra-paths ["test"]
                      :extra-deps {lambdaisland/kaocha {:mvn/version "0.0-418"}}}}}
