{:paths ["src" "resources"]

 :deps {org.clojure/clojure       {:mvn/version "1.10.1"}
        org.clojure/clojurescript {:mvn/version "1.10.773"}
        org.clojure/test.check    {:mvn/version "1.1.0"}
        org.clojure/tools.cli     {:mvn/version "1.0.194"}
        com.datomic/client-cloud  {:mvn/version "0.8.101"}}

 :aliases {;; ====
           ;  bin/kaocha clj-unit
           ; -------------------------------------------------------------------
           :clj-test {:extra-paths ["test"]
                      :extra-deps {lambdaisland/kaocha {:mvn/version "0.0-581"}
                                   com.datomic/dev-local {:mvn/version "0.9.180"}}}

           ;; ====
           ;  clojure -Acljs-test
           ; -------------------------------------------------------------------
           :cljs-test {:extra-paths ["test"]
                       :extra-deps  {day8.re-frame/http-fx       {:mvn/version "0.1.6"}
                                     thheller/shadow-cljs        {:mvn/version "2.8.67"}
                                     metosin/reitit              {:mvn/version "0.3.9"}
                                     expound                     {:mvn/version "0.7.2"}
                                     re-frame                    {:mvn/version "0.10.8"}
                                     reagent                     {:mvn/version "0.8.1"}
                                     day8.re-frame/test          {:mvn/version "0.1.5"}
                                     day8.re-frame/async-flow-fx {:mvn/version "0.1.0"}
                                     binaryage/devtools          {:mvn/version "0.9.10"}}
                       :main-opts   ["-m" "shadow.cljs.devtools.cli" "watch" "test"]}

           ;; ===
           ;  Min production build
           ;  clojure -Acljs-min
           :cljs-min {:extra-deps  {day8.re-frame/http-fx       {:mvn/version "0.1.6"}
                                    thheller/shadow-cljs        {:mvn/version "2.8.67"}
                                    metosin/reitit              {:mvn/version "0.3.9"}
                                    expound                     {:mvn/version "0.7.2"}
                                    re-frame                    {:mvn/version "0.10.8"}
                                    reagent                     {:mvn/version "0.8.1"}}
                      :main-opts ["-m" "shadow.cljs.devtools.cli" "release" "app"]}

           ;; ===
           ;  clojure -Acljs-dev
           :cljs-dev {:extra-paths ["test"]
                      :main-opts   ["-m" "shadow.cljs.devtools.cli" "watch" "app"]
                      :extra-deps  {day8.re-frame/http-fx       {:mvn/version "0.1.6"}
                                    thheller/shadow-cljs        {:mvn/version "2.8.67"}
                                    metosin/reitit              {:mvn/version "0.3.9"}
                                    expound                     {:mvn/version "0.7.2"}
                                    re-frame                    {:mvn/version "0.10.8"}
                                    reagent                     {:mvn/version "0.8.1"}
                                    day8.re-frame/re-frame-10x  {:mvn/version "0.4.4"}
                                    day8.re-frame/async-flow-fx {:mvn/version "0.1.0"}
                                    day8.re-frame/test          {:mvn/version "0.1.5"}
                                    binaryage/devtools          {:mvn/version "0.9.10"}}}}}
