{:deps true
 :source-paths ["src" "test"]
 :dev-http {8080 "target/"}
 :nrepl {:port 9001 :middleware []}
 :builds {:app {:target :browser
                :js-options {:js-provider :shadow}
                :output-dir "resources/public/js/compiled"
                :asset-path "/js/compiled"
                :modules {:main {:init-fn client.core/main}}
                :compiler-options {:infer-externs :auto
                                   :externs ["externs/go.js"]}
                :dev {:closure-defines {goog.DEBUG true
                                        "re_frame.trace.trace_enabled_QMARK_" true}}
                :release {:closure-defines {goog.DEBUG false}}
                :devtools {:http-root "resources/public"
                           :preloads [shadow.cljs.devtools.client.browser]
                           :after-load client.core/on-reload
                           :http-port 9875}}
          :test     {:target    :browser-test
                     :test-dir  "resources/public/js/test"
                     :ns-regexp "-test$"
                     :closure-defines {client.config/alert-timeout-ms 10}
                     :devtools  {:http-port 8021
                                 :http-root "resources/public/js/test"}}
          :ci {:target :node-test
               :output-to "target/test.js"
               :ns-regexp "-test$"
               :closure-defines {client.config/ci true}}}}
