@mixin btn($background, $color) {
  background-color: $background;
  border-radius: 2px;
  border: 1px solid $color;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
  color: $color;
  cursor: pointer;
  display: inline-block;
  font-family: 'Avenir Next';
  font-size: 0.9rem;;
  height: 36px;
  padding: 0 2rem;
  padding-top: 2px;
  text-decoration: none;
  transition: .3s ease-out;
  user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  will-change: opacity, transform;
  &:hover {
    background-color: lighten($background, 1%);
    border-color: lighten($color, 1%);
    box-shadow: 1px 5px 9px 0 rgba(0,0,0,0.18), 0 4px 15px 0 rgba(0,0,0,0.15);
    color: lighten($color, 1%);
    outline: 0;
  }
  &:focus { outline: none; }
}

