$pos-offset: calc(100% + 15px);

.tooltip {
  position: relative;

  &::before {
    background:     rgba(0, 0, 0, 0.7);
    border-radius:  2px;
    color:          #FFFFFF;
    content:        attr(data-tooltip-content);
    display:        block;
    font-size:      14px;
    opacity:        0;
    padding:        5px 8px;
    position:       absolute;
    text-align:     center;
    text-transform: none;
    transition:     all .2s ease-in-out .5s;
    width:          200%;
    min-width:      95px;
    z-index:        1;
  }

  &:hover::before {
    opacity:   1;
  }
}

[data-tooltip-top] {
  @extend .tooltip;
  &::before {
    bottom:    $pos-offset;
    left:      50%;
    right:     initial;
    top:       initial;
    transform: translate(-50%, 20px);
  }
  &:hover::before {
    transform: translate(-50%, 0);
  }
}

[data-tooltip-bottom] {
  @extend .tooltip;
  &::before {
    left:      50%;
    right:     initial;
    top:       $pos-offset;
    transform: translate(-50%, -20px);
  }
  &:hover::before {
    transform: translate(-50%, 0)
  }
}

[data-tooltip-left] {
  @extend .tooltip;
  &::before {
    right:     $pos-offset;
    top:       50%;
    transform: translate(20px, -50%);
  }
  &:hover::before {
    transform: translate(0, -50%);
  }
}

[data-tooltip-right] {
  @extend .tooltip;
  &::before {
    left:      $pos-offset;
    right:     initial;
    top:       50%;
    transform: translate(-20px, -50%);
  }
  &:hover::before {
    transform: translate(0, -50%);
  }
}